VITE_ALLOWED_PARENT_ORIGINS=
VITE_BRIDGE_PROTOCOL_VERSION=1.0.0

# Network
VITE_SOLANA_RPC_HTTP_URL=
VITE_SOLANA_RPC_WS_URL=
VITE_SOLANA_NETWORK=mainnet

# Umbra endpoints (public)
VITE_UMBRA_INDEXER_API=https://utxo-indexer.api.umbraprivacy.com
VITE_UMBRA_RELAYER_API=https://relayer.api.umbraprivacy.com

